@page
@model FlowerBouquetManagementSystem.Pages.User.FlowerBouquetIndex

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlowerBouquets[0].FlowerBouquetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlowerBouquets[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlowerBouquets[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlowerBouquets[0].UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlowerBouquets[0].FlowerBouquetStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlowerBouquets[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlowerBouquets[0].Supplier)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FlowerBouquets) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlowerBouquetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlowerBouquetStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
            </td>
                <td>
                    <a asp-page="Cart" asp-page-handler="buynow" asp-route-id="@item.FlowerBouquetId">Buy Now</a>
                </td>
                <td>
                    <a asp-page="Cart" asp-page-handler="addtocart" asp-route-id="@item.FlowerBouquetId">Add To Cart</a>
                </td>
        </tr>
}
    </tbody>
</table>
