@page
@model FlowerBouquetManagementSystemWebApp.Pages.User.UserIndexFlowerBouquet

@{
    ViewData["Title"] = "Index";
}

<h1>Flower Bouquets</h1>
<form method="get" asp-page-handler="FlowerBouquets">
    @*<label for="name">Name</label>*@
    <input name="name" />
    @*<label for="categoryId">Category</label>*@
    @*<select name="categoryId" asp-items="@Model.Categories"></select@*>*@
    <input type="submit" value="Search" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>Flower bouquet name</th>
            <th>Description</th>
            <th>Unit price</th>
            <th>Units in stock</th>
            <th>Status</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="flowerTable">
    </tbody>
</table>
@*@{
    string nextButtonDisabled = !Model.FlowerBouquets.HasNext ? "disabled" : "";
    string previousButtonDisabled = !Model.FlowerBouquets.HasPrevious ? "disabled" : "";
}
<a asp-page="/User/UserIndexFlowerBouquet" asp-route-pageNumber="@(Model.FlowerBouquets.CurrentPage - 1)" class="btn btn-primary @previousButtonDisabled">Previous</a>
<a asp-page="/User/UserIndexFlowerBouquet" asp-route-pageNumber="@(Model.FlowerBouquets.CurrentPage + 1)" class="btn btn-primary @nextButtonDisabled">Next</a>*@
